.slider-wrapper {
  position: relative;
}

.left-arrow {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
}


.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  
  margin-top: 10rem;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.backdrop-blur-xl {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}